/*
    主入口css，可以做全局css使用。
*/

.hide{
    display: none;
}

.loading-div{
    position: fixed;
    z-index: 988800;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(238, 238, 238, 0.7);
}

.clear{
    clear: both;
}

