
.calc-content{
    min-width: 300px;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
}
.calc-info{
    width: 100%;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    min-height: 30px;
    border-top: 2px solid #dddddd;
}
.hide{
    display: none !important;
}

.complete_table_main{
    margin-top: 20px !important;
}

input[type="button" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-color: buttonface;
    border-image: initial;
}

.up-name {
    width: 30%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.3rem;
    /*margin: 1.2rem auto 0rem;*/
    border-radius: 0.5rem;
    background-color: #ff5d25;
    color: #ffffff;
    text-align: center;
    float: left;
}


#jisuan {
    margin: 0 auto;
    color: #666;
    font: 1.11111rem/1.5 Microsoft Yahei,sans-serif;
    text-align: center
}

#jisuan a {
    text-decoration: none
}

#jisuan ul {
    margin: 0;
    padding: 0
}

.fontArial {
    font-family: 'Arial' !important
}

.main {
    padding: 1.22222rem .83333rem .83333rem .77778rem;
    margin-bottom: 1.11111rem
}

.calculator_con {
    border: #bfbfbf solid 1px;
    -webkit-border-radius: .33333rem;
    -moz-border-radius: .33333rem;
    border-radius: .33333rem;
    padding: 1.11111rem .61111rem .66667rem;
    background: -webkit-linear-gradient(133deg,#bababa,#d7d7d7 50%,#e6e6e6 50%,#fff);
    background: -moz-linear-gradient(133deg,#bababa,#d7d7d7 50%,#e6e6e6 50%,#fff);
    background: -ms-linear-gradient(133deg,#bababa,#d7d7d7 50%,#e6e6e6 50%,#fff);
    background: -o-linear-gradient(133deg,#bababa,#d7d7d7 50%,#e6e6e6 50%,#fff);
    -moz-box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
    display: none
}

.calculator_con.current {
    display: block
}

.calculator_hd {
    border: #c3c5c7 solid 1px;
    -webkit-border-radius: .33333rem;
    -moz-border-radius: .33333rem;
    border-radius: .33333rem;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.37) inset,0 1px 1px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.37) inset,0 1px 1px rgba(0,0,0,0.13);
    box-shadow: 0 2px 3px rgba(0,0,0,0.37) inset,0 1px 1px rgba(0,0,0,0.13);
    background: #fcfdea;
    padding: .5rem
}

.calculator_hd .resultIpt {
    height: 3.44444rem;
    width: calc(100% - 1rem);
    border: 0;
    -webkit-appearance: none;
    font-size: 2.58889rem;
    color: #333;
    text-align: right;
    background: 0
}

.calculator_bd {
    margin-top: 1.11111rem
}

.calculator_table li, .complete_more li, .complete_table_rdo li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.cal_btn {
    border: #898a8c solid 1px;
    -webkit-border-radius: .33333rem;
    -moz-border-radius: .33333rem;
    border-radius: .33333rem;
    height: 2.97778rem;
    width: 23.25581%;
    margin-right: 2.09302%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    display: block;
    margin-bottom: 1.16667rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.77778rem;
    font-size: 1.33333rem;
    -moz-box-shadow: 0 1px 2px white inset,0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px white inset,0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px white inset,0 1px 1px rgba(0,0,0,0.2);
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e9e9ea),to(#d5d7dc));
    background-image: -webkit-linear-gradient(top,#e9e9ea,#d5d7dc);
    background-image: -moz-linear-gradient(top,#e9e9ea,#d5d7dc);
    background-image: -ms-linear-gradient(top,#e9e9ea,#d5d7dc);
    background-image: -o-linear-gradient(top,#e9e9ea,#d5d7dc);
    background-image: linear-gradient(top,#e9e9ea,#d5d7dc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FFE9E9EA",EndColorStr="#FFD5D7DC");
    color: #666
}

.cal_btn:link {
    color: #666
}

.cal_btn:visited {
    color: #666
}

.cal_btn:active {
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d5d7dc),to(#e9e9ea));
    background-image: -webkit-linear-gradient(top,#d5d7dc,#e9e9ea);
    background-image: -moz-linear-gradient(top,#d5d7dc,#e9e9ea);
    background-image: -ms-linear-gradient(top,#d5d7dc,#e9e9ea);
    background-image: -o-linear-gradient(top,#d5d7dc,#e9e9ea);
    background-image: linear-gradient(top,#d5d7dc,#e9e9ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FFD5D7DC",EndColorStr="#FFE9E9EA")
}

.cal_btn:nth-child(4n) {
    margin-right: 0
}

.cla_btn_org {
    border-color: #b14610;
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd834c),to(#ba5913));
    background-image: -webkit-linear-gradient(top,#dd834c,#ba5913);
    background-image: -moz-linear-gradient(top,#dd834c,#ba5913);
    background-image: -ms-linear-gradient(top,#dd834c,#ba5913);
    background-image: -o-linear-gradient(top,#dd834c,#ba5913);
    background-image: linear-gradient(top,#dd834c,#ba5913);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FFDD834C",EndColorStr="#FFBA5913");
    color: #fff
}

.cla_btn_org:link {
    color: #fff
}

.cla_btn_org:visited {
    color: #fff
}

.cla_btn_org:hover {
    color: #fff
}

.cla_btn_org:active {
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ba5913),to(#dd834c));
    background-image: -webkit-linear-gradient(top,#ba5913,#dd834c);
    background-image: -moz-linear-gradient(top,#ba5913,#dd834c);
    background-image: -ms-linear-gradient(top,#ba5913,#dd834c);
    background-image: -o-linear-gradient(top,#ba5913,#dd834c);
    background-image: linear-gradient(top,#ba5913,#dd834c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FFBA5913",EndColorStr="#FFDD834C")
}

.cal_btn_gray {
    border-color: #62422f;
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#7c654f),to(#68533d));
    background-image: -webkit-linear-gradient(top,#7c654f,#68533d);
    background-image: -moz-linear-gradient(top,#7c654f,#68533d);
    background-image: -ms-linear-gradient(top,#7c654f,#68533d);
    background-image: -o-linear-gradient(top,#7c654f,#68533d);
    background-image: linear-gradient(top,#7c654f,#68533d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FF7C654F",EndColorStr="#FF68533D");
    color: #fff
}

.cal_btn_gray:link {
    color: #fff
}

.cal_btn_gray:visited {
    color: #fff
}

.cal_btn_gray:hover {
    color: #fff
}

.cal_btn_gray:active {
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#68533d),to(#7c654f));
    background-image: -webkit-linear-gradient(top,#68533d,#7c654f);
    background-image: -moz-linear-gradient(top,#68533d,#7c654f);
    background-image: -ms-linear-gradient(top,#68533d,#7c654f);
    background-image: -o-linear-gradient(top,#68533d,#7c654f);
    background-image: linear-gradient(top,#68533d,#7c654f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FF68533D",EndColorStr="#FF7C654F")
}

.cal_btn_bla {
    border-color: #2b2b2b;
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4e4e4e),to(#2d2d2d));
    background-image: -webkit-linear-gradient(top,#4e4e4e,#2d2d2d);
    background-image: -moz-linear-gradient(top,#4e4e4e,#2d2d2d);
    background-image: -ms-linear-gradient(top,#4e4e4e,#2d2d2d);
    background-image: -o-linear-gradient(top,#4e4e4e,#2d2d2d);
    background-image: linear-gradient(top,#4e4e4e,#2d2d2d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FF4E4E4E",EndColorStr="#FF2D2D2D");
    color: #fff
}

.cal_btn_bla:link {
    color: #fff
}

.cal_btn_bla:visited {
    color: #fff
}

.cal_btn_bla:hover {
    color: #fff
}

.cal_btn_bla:active {
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2d2d2d),to(#4e4e4e));
    background-image: -webkit-linear-gradient(top,#2d2d2d,#4e4e4e);
    background-image: -moz-linear-gradient(top,#2d2d2d,#4e4e4e);
    background-image: -ms-linear-gradient(top,#2d2d2d,#4e4e4e);
    background-image: -o-linear-gradient(top,#2d2d2d,#4e4e4e);
    background-image: linear-gradient(top,#2d2d2d,#4e4e4e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FF2D2D2D",EndColorStr="#FF4E4E4E")
}

.cal_btn_gre {
    border-color: #57636f;
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#969da2),to(#777f85));
    background-image: -webkit-linear-gradient(top,#969da2,#777f85);
    background-image: -moz-linear-gradient(top,#969da2,#777f85);
    background-image: -ms-linear-gradient(top,#969da2,#777f85);
    background-image: -o-linear-gradient(top,#969da2,#777f85);
    background-image: linear-gradient(top,#969da2,#777f85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FF969DA2",EndColorStr="#FF777F85");
    color: #fff
}

.cal_btn_gre:link {
    color: #fff
}

.cal_btn_gre:visited {
    color: #fff
}

.cal_btn_gre:hover {
    color: #fff
}

.cal_btn_gre:active {
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#777f85),to(#969da2));
    background-image: -webkit-linear-gradient(top,#777f85,#969da2);
    background-image: -moz-linear-gradient(top,#777f85,#969da2);
    background-image: -ms-linear-gradient(top,#777f85,#969da2);
    background-image: -o-linear-gradient(top,#777f85,#969da2);
    background-image: linear-gradient(top,#777f85,#969da2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FF777F85",EndColorStr="#FF969DA2")
}

.cal_btn_dis {
    background: linear-gradient(#e9e9ea,#fff,#d5d7dc);
    color: #999
}

.cal_btn_dis:link {
    color: #999
}

.cal_btn_dis:visited {
    color: #999
}

.cal_btn_dis:hover {
    color: #999
}

.complete_table_rdo {
    width: 100%;
    font-size: .77778rem
}

.complete_table_rdo input, .complete_table_rdo label {
    cursor: pointer;
    white-space: nowrap
}

.complete_table_rdo input[type='radio'] {
    width: .88889rem;
    height: .88889rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    border: #898a8c solid 1px;
    -webkit-border-radius: .44444rem;
    -moz-border-radius: .44444rem;
    border-radius: .44444rem;
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dadada),to(#fff));
    background-image: -webkit-linear-gradient(top,#dadada,#fff);
    background-image: -moz-linear-gradient(top,#dadada,#fff);
    background-image: -ms-linear-gradient(top,#dadada,#fff);
    background-image: -o-linear-gradient(top,#dadada,#fff);
    background-image: linear-gradient(top,#dadada,#fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FFDADADA",EndColorStr="#FFFFFFFF")
}

.complete_table_rdo input[type='radio']:checked {
    border: #898a8c solid 1px
}

.complete_table_rdo input[type='radio']:checked::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.16667rem;
    margin-top: -0.16667rem;
    width: .33333rem;
    height: .33333rem;
    -webkit-border-radius: .16667rem;
    -moz-border-radius: .16667rem;
    border-radius: .16667rem;
    background: #8c8d8f
}

.complete_table_rdo .ipts {
    width: 35.363%;
    font-size: 0
}

.complete_table_rdo .chk_text_inp {
    height: 2.83333rem;
    border: #898a8c solid 1px;
    -webkit-border-radius: .33333rem;
    -moz-border-radius: .33333rem;
    border-radius: .33333rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dadada),to(#fff));
    background-image: -webkit-linear-gradient(top,#dadada,#fff);
    background-image: -moz-linear-gradient(top,#dadada,#fff);
    background-image: -ms-linear-gradient(top,#dadada,#fff);
    background-image: -o-linear-gradient(top,#dadada,#fff);
    background-image: linear-gradient(top,#dadada,#fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#FFDADADA",EndColorStr="#FFFFFFFF");
    -webkit-apparence: none;
    text-align: center;
    width: 32.45033%
}

.complete_table_rdo .chk_text_inp:nth-child(3n-1) {
    margin: 0 1.3245%
}

.complete_table_rdo li {
    margin-bottom: 1rem
}

.complete_table_rdo .cal_btn {
    margin: 0 0 0 2.57611%;
    display: block;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 0;
    display: block;
    width: 14.51991%
}

.complete_table_rdo .labinp:nth-child(7n-2) {
    width: 9.36768%
}

.complete_table_main li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.complete_table_main .cal_btn {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    display: block;
    width: 14.51991%;
    margin-right: 2.57611%
}

.complete_table_main .cal_btn:nth-child(6n) {
    margin-right: 0
}

.complete_more {
    font-size: 0;
    padding: .61111rem;
    background: #f4f4f4;
    -webkit-border-radius: .33333rem;
    -moz-border-radius: .33333rem;
    border-radius: .33333rem
}

.complete_more .cal_btn {
    width: 17.73399%;
    margin-right: 2.70936%
}

.complete_more .cal_btn:nth-child(5n) {
    margin-right: 0
}

/*.complete_more a {*/
/*    font-family: 'Arial' !important*/
/*}*/

.complete_more li:last-child a {
    margin-bottom: 0
}

.labinp {
    width: 15.11628%;
    text-align: center
}

.labinp label {
    display: block;
    text-align: center
}

.quickLnk {
    padding-left: 1.55556rem;
    border-top: #dadada solid 1px
}

@media only screen {
    html {
        font-size: 12px
    }
}

@media only screen and (min-width:360px) and (max-width:399px) {
    html {
        font-size: 13px
    }
}

@media only screen and (min-width:400px) and (max-width:479px) {
    html {
        font-size: 15px
    }
}

@media only screen and (min-width:480px) {
    html {
        font-size: 18px
    }
}
