
.tools-right-content{
    width: calc(100%);
    height: calc(100% - 45px - 10px);
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 45px;
    right: 0;
}

.cmd-ul{
    padding: 10px 10px;
    background-color: rgba(205,205,205,0.1);
}
.cmd-li{
    padding: 0 20px 10px 20px;
}
.cmd-group{
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: white;
    padding-bottom: 10px;
}
.cmd-li-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: white;
}
.cmd-li-explain{
    font-size: 16px;
    line-height: 30px;
    color: rgba(200,200,200,1);
}