.help-content{
    padding-bottom: 20px;
}
.back-div{
    padding: 10px 10px;
}
.cmd-ul{
    padding: 10px 10px 0 10px;
}
.cmd-group{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: white;
}
.cmd-li-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: lightgrey;
}
.cmd-li-explain{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 24px;
    color: grey;
}