/*
    局部模块css
*/
@charset "UTF-8";

.body {
    width: 100%;
    min-width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #f5f5f5;
}

.content {
    /*min-height: 900px;*/
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    zoom: 0.9;
}

.input-div {
    background: transparent;
    border-radius: 40px;
    width: calc(100% - 20px);
    margin-top: calc(3% + 100px);
    height: 48px;
    min-width: 300px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.select {
    height: 48px;
    width: 117px;
    font-size: 16px;
    border-radius: 44px;
    color: #0078fe;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: 600;
    padding: 0 14px 0 10px;
    float: left;
    outline: none;
    border: 2px solid rgba(0, 120, 254, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    text-indent: 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    text-align: center;
    appearance: none;
    text-align-last: center;
}

.input {
    height: 44px;
    line-height: 44px;
    width: calc(100% - 117px - 30px - 4px - 5px);
    letter-spacing: 1px;
    font-size: 16px;
    color: #000000;
    padding: 0 15px;
    float: right;
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    outline: none;
    border: 2px solid rgba(0, 120, 254, 0.4);
}

.search-style {
    display: block;
}

.input:focus {
    outline: none;
    border: 2px solid #0078fe;
}

.select:focus {
    outline: none;
    border: 2px solid #0078fe;
}

.input-div:after {
    position: absolute;
    left: 80px;
    top: 0;
    z-index: 1;
    content: "▼";
    height: 47px;
    width: 47px;
    line-height: 49px;
    pointer-events: none;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    border-radius: 44px;
    background: transparent;
    color: rgba(0, 120, 254, 0.4);
    /*border: 2px solid black;*/
}

.input-div-blur:after {
    content: "▼";
    transition: transform 0.5s;
    transform: rotateZ(0deg);
    color: rgba(0, 120, 254, 0.4);
}

.input-div-focus:after {
    content: "▼";
    transition: transform 0.5s;
    transform: rotateZ(90deg);
    color: rgba(0, 120, 254, 1);
}

.liner-color {
    background: linear-gradient(to right, red, blue);
}

.clear {
    clear: both
}

.select-none {
    user-select: none;
}

.click {
    cursor: pointer;
    user-select: none;
}

.click:active {
    opacity: 0.6;
}

.must-btn{
    font-weight: normal;
}

.more-btn{
    font-weight: normal;
    padding-top: 20px;
}

.search-btn-div {
    padding: 0 10px 10px 10px;
    text-align: center;
    max-width: 407px;
    margin-left: auto;
    margin-right: auto;
}

.quick-btn-center {
    margin-bottom: 15px;
}

.search-btn-style {
    font-size: 15px;
    border-radius: 35px;
    display: block;
    width: calc(100%/3 - 20px - 1px - 4px);
    line-height: 38px;
    height: 38px;
    overflow: hidden;
    text-align: center;
    border: 2px solid rgba(0, 120, 254, 0.3);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.search-btn-style:hover {
    opacity: 0.8;
}

.refresh-btn-span, .history-btn-span, .search-btn-span{
    font-weight: 500 !important;
}

.tips-div {
    font-size: 16px;
    color: #CD5C5C;
    height: 50px;
    text-align: center;
    line-height: 22px;
    padding: 10px 10px;
}

.res-txt {
    height: 44px;
    overflow: hidden;
}

.content-bg {
    position: fixed;
    z-index: 80;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.zoom-80 {
    zoom: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.div-qr {
    padding: 5px 5px;
    border-radius: 3px;
    background: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 101px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: calc(40px);
    opacity: 0.8;
}

.div-qr-box {
    background-size: calc(100% - 20px);
    width: 101px;
    height: 101px;
    border-radius: 1px;
}

.bg-light {
    background: #ffffff !important;
    color: #4c4c4c;
}
.bg-black {
    background: #101010 !important;
    color: #dddddd;
}
.bg-grey {
    background: rgba(53,53,53,1) !important;
    color: #dddddd;
}
.bg-yellow {
    background: #F5F5D5 !important;
    color: #4c4c4c;
}
.bg-ivory {
    background: #FFFFF0 !important;
    color: #4c4c4c;
}

.select-color-light {
    background: rgba(250,250,250, 0.8) !important;
    color: #000000;
}
.input-color-light {
    background: rgba(250,250,250, 0.8) !important;
    color: #000000;
}

.select-color-black {
    background: rgba(20, 20, 20, 0.8) !important;
    color: #dddddd;
}
.input-color-black {
    background: rgba(20, 20, 20, 0.8) !important;
    color: #dddddd;
}

.select-color-grey {
    background: rgba(53,53,53, 0.8) !important;
    color: #ffffff;
}
.input-color-grey {
    background: rgba(53,53,53, 0.8) !important;
    color: #ffffff;
}

.select-color-yellow {
    background: rgba(245, 245, 213, 0.8) !important;
    color: #000000;
}
.input-color-yellow {
    background: rgba(245, 245, 213, 0.8) !important;
    color: #000000;
}

.select-color-ivory {
    background: rgba(255, 255, 240, 0.8) !important;
    color: #000000;
}
.input-color-ivory {
    background: rgba(255, 255, 240, 0.8) !important;
    color: #000000;
}

.body::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.body {
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

.div-time {
    text-align: center;
    min-height: 44px;
    line-height: 44px;
    letter-spacing: 1px;
    padding-top: 135px;
    padding-bottom: 140px;
}

.div-time-span {
    padding-right: 8px;
}

.div-time-hour {
    font-size: 36px;
    opacity: 1;
    letter-spacing: 2px;
}

.div-time-date {
    font-size: 18px;
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    /*.input-div{*/
    /*    margin-top: calc(50px + 20px);*/
    /*}*/
    .content {
        zoom: 0.90;
    }
    /*.div-time {*/
    /*    display: none;*/
    /*}*/
}

.input-history-div{
    padding: 15px 15px 15px 15px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 28px;
}
.history-span{
    font-size: 16px;
    border-radius: 20px;
    line-height: 24px;
    margin-right: 20px;
    display: inline-block;
    max-width: 260px;
    height: 24px;
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.history-span:active{
    text-decoration: underline;
}
.history-span:hover{
    font-weight: 700;
    text-decoration: underline;
}

.swiper-container{
    padding-bottom: 50px;
    padding-top: 25px;
    opacity: 0.8;
}
.swiper-slide{
    min-height: 300px;
}
/*.swiper-pagination{*/
/*    z-index: 2000;*/
/*}*/
/*.swiper-button-next{*/
/*    z-index: 2200;*/
/*}*/
/*.swiper-button-prev{*/
/*    z-index: 2200;*/
/*}*/
/*.swiper-pagination-bullet {*/
/*    margin: 0 5px;*/
/*    background-color: lightblue;*/
/*}*/
/*.swiper-pagination-bullet-active {*/
/*   background-color: deepskyblue;*/
/*}*/
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    background: lightgray;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    color: #000;
    background: deepskyblue;
}
.left-fixed{
    position: fixed;
    z-index: 20230306;
    bottom: calc(10px);
    left: 0px;
    padding-left: 10px;
    overflow: hidden;
    width: 220px;
    text-align: left;
}
.right-fixed{
    position: fixed;
    z-index: 20230305;
    bottom: calc(10px);
    right: 0px;
    padding-right: 10px;
    overflow: hidden;
    width: 220px;
    text-align: right;
}

.timer-div{
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

.on-hour-div{
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    font-size: 12px;
    opacity: 0.5;
}

.battery-model-div{
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    font-size: 12px;
    opacity: 0.5;
}

.change-color-div{
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    opacity: 0.5;
}

.qr-div{
    opacity: 0.5;
    border-radius: 3px;
    padding: 3px 3px;
    background: white;
    margin-bottom: 5px;
}
.qr-60{
    width: 60px;
    height: 60px;
}
.qr-20{
    width: 22px;
    height: 22px;
}
.new-qr-img{
    width: 100%;
    float: left;
}
.rights-div{
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    opacity: 0.5;
}
.contact-div{
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    opacity: 0.5;
}


.fixed-span-style{
    padding: 3px 3px;
}
.right-span{
    margin-right: 10px;
}


/*覆盖css*/
.nav-content{
    background-color: transparent !important;
    box-shadow: 0 5px 10px transparent !important;
}