
.foot-content{
    padding: 15px 0;
    background: rgba(0,0,0,0);
    margin-top: 20px;
}

.foot-txt{
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-align: center;
}
